<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Postulante Trabaja Con Nosotros</title>

</head>

<body>
    <div style="@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,400,500,600,700);
    font-family: 'Montserrat', sans-serif;">
        <table style="margin:0 auto;">
            <tbody>
                <tr style="text-align: center;">
                    <td>
                        <a href="https://ecovitali.com/"><img src="https://i.ibb.co/d55sT95/Logo-Ecovitali-Blanco.png"
                                style="width: 50%; margin-bottom: 10px;"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="https://i.ibb.co/Wpy4sGj/banner-postulacion.png" alt="banner-postulacion">
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="margin:0 auto; width: 60%;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <p style="font-size: 36px; font-weight: 600;">¡Hola, ECOVITALI!</p>
                        <p style="font-size: 15px;">
                            Has recibido una <b>"Postulación"</b> con los siguientes datos:
                        </p>
                        <p><b>Nombre:</b>
                            <%= nombre %>
                        </p>
                        <p><b>Ciudad:</b>
                            <%= ciudad %>
                        </p>
                        <p><b>Teléfono:</b>
                            <%= telefono %>
                        </p>
                        <p><b>Correo:</b>
                            <%= email %>
                        </p>
                        <p><b>Por qué desea trabajar con nosotros:</b>
                            <%= comentario %>
                        </p>
                        <p><b>División Seleccionada:</b>
                            <%= divisionSeleccionada %>
                        </p>
                        <p><b>Adjunto encontrarás el Currículum del postulante:</b>
                            <a href="cid:cv"></a>
                        </p>
                        <p style="font-size: 15px;">Si tienes interés en este perfil recuerda asignar una entrevista para que se sume a nuestro equipo de trabajo. 👇</p>

                        <div style="margin-top:2rem;text-align: center; margin-bottom:2rem;">
                            <a href="<%= enlaceWhatsApp %>" style="padding: 15px;background: #86AE51;color: #fff;cursor:pointer;
                            border-radius: 6px; text-align: center; text-decoration: none;">Mensaje Directo a
                                WhatsApp</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="https://i.ibb.co/c2QrJvn/banner-divisiones.png" alt="banner-divisiones">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <img src="https://i.ibb.co/5sB3HP1/logo-ecovitali-footer.png" style="margin-top: 15px;" alt="logo-ecovitali-footer">
                        <p style="margin-right:10px; font-size: 12px;">Copyright © 2024 ECOVITALI Ecuador</p>
                        <a href="https://www.ecovitali.net" style="font-size: 12px;">www.ecovitali.net</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>